{{$path := .}}
{{ $dircontent := readDir $path}}
{{ $folders := sort (where $dircontent "IsDir" true) }}
{{ $files := sort (where $dircontent "IsDir" false) }}

<ol class="path-{{ $path }}">

{{range $folders}}
{{ $p := (path.Join $path .Name) }}
<li class="folder path:{{$p}}"> 
    <input type="checkbox" id="path:{{$p}}" checked="checked"/> <label for="path:{{$p}}"> {{.Name}} </label>
    {{ partial "walk.html" $p }}
</li>{{end}}

{{range $files}}
{{ $p := (path.Join $path .Name) }}
<li class="file path:{{$p}}">
    <input type="checkbox" id="path:{{$p}}" checked="checked"/> <label for="path:{{$p}}">{{.Name}}</label>
    <pre><code>{{ truncate 100 (readFile $p) }}</code></pre> 
</li>{{end}}
</ol>

